<div class="relative overflow-auto h-[48rem] card">
    <img class="rounded-t card-image" [src]="pictureUrl" />
    <span class="absolute top-0 right-0 m-2 text-yellow-800 bg-yellow-100 badge">-50% sale</span>
    <div class="justify-between card-header"><span><h3 class="text-2xl">{{ name }}</h3></span> <span><b><strong>{{ price }} {{ currency }}</strong></b></span></div>
    <div class="card-body">
        {{ description }}<br>
    </div>
    <div class="m-2">
        <button class="btn btn-icon btn-lg btn-light">add to&nbsp;<span class="icon-[lucide--shopping-cart]"></span></button>
    </div>
</div>
